html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
    style(type="text/css").
      body{
        font-family: Helvetica, Arial, Sans-Serif;
        margin-left:50px;
      }
      h1 {
        font-size:1.2em;
        margin-left:0px;
        margin-bottom:20px;
      }

      ul{
         list-style: none;
         display:flex;
         flex-wrap:wrap;
      }

      ul li{
        border:2px solid #ccc;
        margin:20px;
      }

      .info{
        display:flex;
        justify-content: space-between;
      }

      .info a{
        display:block;
        padding:10px;
        color:#666666;

        max-width:200px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        
      }

      .info span{
        padding:10px;
        display:block;
      }
  body
    div !{html}