html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
    style(type="text/css").
      body{
        font-family: Helvetica, Arial, Sans-Serif;
        font-size:0.9em;
      }
      h1 {
        font-size:1.2em;
        margin-left:0px;
        margin-bottom:20px;
      }

      .container{
        margin:50px;
      }

      ul{
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
      }

      ul li{
        border:1px solid #ccc;
        display: grid;
      }

      .info{
        display:flex;
        justify-content: space-between;
      }

      .info a{
        display:block;
        padding:10px;
        color:#666666;
        width:200px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        
      }

      .info span{
        padding:10px;
        display:block;
      }

      .paging{
        display:flex;
        justify-content:flex-end;
      }

      .paging a{
        display:inline-block;
        margin-bottom:20px;
      }
  body
    div(class="container") !{html}