html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
    style(type="text/css").
      body{
        font-family: Helvetica, Arial, Sans-Serif;
        margin-left:50px;
      }
      h1 {
        font-size:1.2em;
        margin-left:0px;
        margin-bottom:20px;
      }
  body
    h1 TEST
